# Practicing Python and Pandas

**Complete by: Tuesday 27 Jan. at class time**

Starting next week, your main homework for this class will be Workshop assignments based on real-world data. Since you're currently working on your Documentation assignment, this week you'll use this notebook to practice some of your new Python and Pandas skills. There isn't any writing in this assignment, but soon you'll use Jupyter notebooks to submit code and writing together.

**For all of these instructions, do NOT repeat the exact variable names or data structures from our class slides or the guides. The variables you create and code you write should be new. You may use guides, documentation, and class notes to complete these tasks, but you may not use chatbots or AI code completion!**

## Python

Complete the following code in each cell below the instructions. *All of your code should have comments that detail what the code is doing.*

Remember, Python (like all programming languages) executes your code in order from top to bottom. If an earlier code cell is incomplete or has an error, your later code might not run. Remember you can always hit the "Restart and run all" button to see if that solves any issues.

1. Create three variables that have three different data types. Give each one a descriptive variable name, and print out the data types of all three of your new variables.

2. Loop through all numbers from 1 to 500. If the number is divisible by 2, print the word “Tinker”. If the number is divisible by 7, print the word “Tailor”. If the number is divisible by both 2 and 7, print the words “Tinker Tailor Soldier Spy” (a great movie if you haven’t seen it). If the number isn’t divisible by any of these, just display the number as normal. (Hint: consider the order of your conditions, and remember the `range()` function and `%` operator from class!)

This is a classic coding interview question, so it's good to know how to do this!

3. Write a function that takes two lists as arguments. The first list should be all strings and the second list should be all numbers. The function should return a dictionary where the contents of the first list are the keys, and the values are the contents of the second list *plus five*.

4. Create two lists, one made up of strings and one made up of numbers. Run your function on the two lists to produce a new dictionary. Then construct a loop that prints *only the keys* of your dictionary.

## Pandas

Complete the following code in each cell below the instructions. *All of your code should have comments that detail what the code is doing.*

1. Import the Pandas library (don't forget Numpy!) and read in the following two CSV files as separate DataFrames:

- <https://jrladd.com/CIS241/data/astronauts.csv>
- <https://jrladd.com/CIS241/data/crews.csv>

2. The astronauts dataframe has information about individual astronauts, while the crews dataframe has information about the different missions they served on. Combine these two dataframes using the appropriate Pandas function for the data that you have. Give the new combined dataframe a new variable name so you can keep track of it, and use this new dataframe for everything going forward. (Remember, you can refer to both our Pandas Guide as well as the official Pandas documentation for more detail on how these functions work.)

3. Display just the 4 columns that comprise the names of each of the astronauts.

4. Display all of the astronauts who went to MIT.

5. Remove all of the astronauts who do not have a middle name or initial. Save this dataframe in a new variable so your work is retained.

6. How many people of each mission role are in this dataset? Present this data so it doesn't repeat numbers unnecessarily. There's more than one way to do this—you'll get an extra point for showing both methods!

7. Change the `isMale` column to a `gender` column: change all the `t` values to `man` and all the `f` values to `woman`, then rename the column.

8. Create a new `birthplace` column that combines `birthCity` and `birthState` separated by a comma. (Hint: this may require learning a new function from the Pandas documentation!)

9. Display the astronauts who participated in more than one mission. (Hint: this may require learning a new function from the Pandas documentation!)