In [1]:
import pandas as pd
import numpy as np

In [3]:
mpg = pd.read_csv("../data/mpg.csv")
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [4]:
mpg.trans.unique()

array(['auto(l5)', 'manual(m5)', 'manual(m6)', 'auto(av)', 'auto(s6)',
       'auto(l4)', 'auto(l3)', 'auto(l6)', 'auto(s5)', 'auto(s4)'],
      dtype=object)

In [16]:
manual = mpg[mpg.trans.str.contains("manual")]
manual.to_csv("../data/manual.csv", index=False)

In [18]:
automatic = mpg[mpg.trans.str.contains("auto")]
automatic.to_csv("../data/automatic.csv", index=False)

In [12]:
mpg_all = pd.concat([manual, automatic])

In [62]:
melted_mpg = mpg[mpg.duplicated(subset=["manufacturer", "model", "year", "trans"]) == False].melt(id_vars = ["manufacturer", "model", "year", "trans"])
melted_mpg.to_csv("../data/melted_mpg.csv", index=False)

In [60]:
melted_mpg.pivot(index=["manufacturer", "model", "year", "trans"], columns="variable", values="value").reset_index()

variable,manufacturer,model,year,trans,class,cty,cyl,displ,drv,fl,hwy
0,audi,a4,1999,auto(l5),compact,18,4,1.8,f,p,29
1,audi,a4,1999,manual(m5),compact,21,4,1.8,f,p,29
2,audi,a4,2008,auto(av),compact,21,4,2.0,f,p,30
3,audi,a4,2008,manual(m6),compact,20,4,2.0,f,p,31
4,audi,a4 quattro,1999,auto(l5),compact,16,4,1.8,4,p,25
...,...,...,...,...,...,...,...,...,...,...,...
134,volkswagen,new beetle,2008,manual(m5),subcompact,20,5,2.5,f,r,28
135,volkswagen,passat,1999,auto(l5),midsize,18,4,1.8,f,p,29
136,volkswagen,passat,1999,manual(m5),midsize,21,4,1.8,f,p,29
137,volkswagen,passat,2008,auto(s6),midsize,19,4,2.0,f,p,28
138,volkswagen,passat,2008,manual(m6),midsize,21,4,2.0,f,p,29

In [85]:
mpg_class = mpg[["manufacturer", "model", "year", "class"]]
mpg_class = mpg_class[mpg_class.duplicated() == False]
mpg_class.to_csv("../data/mpg_class.csv", index=False)

In [86]:
mpg_data = mpg[["manufacturer", "model", "displ", "year", "cyl", "trans", "drv", "cty", "hwy", "fl"]]
mpg_data.to_csv("../data/mpg_no_class.csv", index=False)

In [87]:
pd.merge(mpg_data, mpg_class, how="left", on=["manufacturer", "model", "year"])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize